@use "../utilities/variables";
@use "../utilities/mixins";

.carousel-slide{
  max-height: 500px;
  overflow: hidden;
  background: variables.$black;
}

.carousel-item img{
            @include mixins.card (auto, 30rem, cover);
        }

@media (max-width: 768px) {
  .carousel{
    max-height: none;
  }
  .carousel.carousel-item img {
    height: auto;      
    object-fit: contain; 
  }
}