// Paleta de colores

$verde-claro: #9CAE9F; //Verde claro
$HOVER: #7A8D7F; //HOVER sobre el verde claro
$pie-foto: #526257; // Pie de foto?
$action-page: #5a675d; // PAGINA SELECCIONADA
$black: #000000;